.header-area {
  @include media-breakpoint-down("sm") {
    background-size: cover;
  }

  padding: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;

  > img {
    width: 100%;
  }

  &-content {
    //min-height: 500px;
    background-size: cover;

    @include media-breakpoint-down("sm") {
      //min-height: 200px;
    }

    .home & {
      //min-height: 580px;

      @include media-breakpoint-down("sm") {
        //min-height: 200px;
      }
    }

    h1,
    h2,
    h3 {
      color: #fff;
      font-family: $font-roboto;
      font-weight: bold;
      font-size: 60px;
      padding: 80px 0 0 0;
      margin: 0 0 35px 0;
    }

    p {
      color: #fff;
      font-family: $font-roboto;
      font-weight: bold;
      font-size: 28px;
    }
  }
}
